<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Carbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .container{

            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin:auto;
        }
    </style>

</head>

<header>
    <h1 style="text-align: center; font-size: 100px; font-family: Arial,serif">Cars</h1>
    <a href="/" class="btn btn-primary" style="position: absolute; top: 20px; left: 20px;">Home</a>
</header>
<body>

<div class="container">
    <form th:action="@{/cars/add}" th:object="${car}" method="post">
        <input type="text" th:field="*{brand}" class="form-control" placeholder="Brand name" required="required">
        <input type="text" th:field="*{model}" class="form-control" placeholder="Model name" required="required">
        <input type="number" min="1" th:field="*{ps}" class="form-control" placeholder="PS amount" required="required">
        <input type="date" th:field="*{constructionDate}" class="form-control" placeholder="Date of construction" required="required">
        <input type="submit" class="form-control" value="Save">
    </form>

</div>
</body>
</html>